<div class="flex justify-center z-[49]">
    <div class="alert alert-warning absolute w-full max-w-md sm:max-w-lg md:max-w-xl transition duration-400">
        <div class="flex items-center">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="stroke-current shrink-0 h-6 w-6 mr-2 sm:h-8 sm:w-8"
                    fill="none"
                    viewBox="0 0 24 24"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
            </svg>
            <span class="text-sm sm:text-base">
        Documentation is under construction. It will take some time to complete.
      </span>
        </div>
    </div>
</div>


<script >
    // Alert message
    var timeout = 5; // seconds (3)
    document.addEventListener("DOMContentLoaded", function () {
        const alert = document.querySelector(".alert");
        if (alert) {
            setTimeout(function () {
                alert.classList.add("hidden");
            }, timeout * 1000);
        }
    });
</script>